body {
    /*grey color*/
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625;
    position: relative;
}

a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #bdbdbd;       /*цвет подсветки букв при наведении курсора - серый*/
}

.navbar-nav a {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    padding: 20px;

}

.navbar-nav a:hover {
    color: #bdbdbd;       /*цвет подсветки букв при наведении курсора - серый*/
}

.default-header {
    background-color: #fff;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}

.mt-7 {
    margin-top: 7rem;
}

.mt-6 {
    margin-top: 2.25rem;
}

.imag {
    width: 45px;
    height: 45px;
}

.border-none {
    border: none;
}

.mll-4 {
    margin-left: 4rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.space {
    white-space: pre-line;
}

.py-6 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.mr-7 {
    margin-right: 2.25rem;
}

.line-unset {
    line-height: unset;
}